@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
body {
  background: linear-gradient(
      rgba(159, 214, 235, 0.2),
      rgba(166, 235, 246, 0.2)
    ),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
